.communication {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 3rem 1.5rem;
  text-align: center;
}
.divh1{
    position: absolute;
    top: 50%;
    left: -25%;
    transform: rotate(-90deg);
    margin: 0 1rem;
}
.com-text{
  margin: 0 0 5rem 15%;
}
.communication h1 {
  font-size: clamp(28px, 5vw, 38px);
  margin-bottom: 1.5rem;
  color: var(--Principal-color);
  width: 70%;
}

.communication h3 {
  font-size: 1.6rem;
  margin: 1.5rem 0 1rem;
  color: var(--Principal-color);
}

.communication p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.communication ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 0.8rem 2rem;
  text-align: left;
}

.communication ul li {
  position: relative;
  padding-left: 1.8rem;
}

.communication ul li::before {
  content: "✴︎";
  position: absolute;
  left: 0;
  color: var(--accent);
  font-weight: bold;
}

.communication .offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin: 3rem -2rem;
  background: var(--Principal-color);
  padding: 20px;
}

.communication .offer {
  border-radius: var(--radius-m);
  padding: 1.5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: left;
  position: relative;
}
.communication .offer:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15%;
  right: -15px;
  width: 2px;
  height: 70%;
  background: var(--Page-color);
}
.communication .offer h3 {
  margin-bottom: 0.5rem;
  color: var(--Secondary-text-color);
}
.communication .offer p {
  color: var(--Secondary-text-color);
}

.communication .offer h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--accent);
}


.communication .cta {
  margin-top: 2rem;
}

.communication .cta a {
  display: inline-block;
  background: var(--Principal-color);
  color: var(--Secondary-text-color);
  padding: 1rem 2rem;
  border-radius: var(--radius-s);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease;
}

.communication .cta a:hover {
  background: var(--accent);
  color: var(--Secondary-text-color);
}

@media (max-width: 700px){

  .communication ul {
      grid-template-columns: repeat(1, 1fr); 
  }
}