.contact {
  text-align: center;
  overflow: hidden;
  margin: 2rem 0 0 0;
  padding: 2rem 0;
  color: var(--Secondary-text-color);
}

.rotate {
  padding: 60px 0;
  background: var(--Principal-bg-color-weak);
  transform: rotate(-2deg);
  width: 120vw;          
  margin-left: -10vw;    
}

.rotate > * {
  transform: rotate(2deg);
}

/* Wrapper principal */
.contact-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* disposition texte + infos */
.disposition {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-content {
  flex: 1;
  min-width: 280px;
  max-width: 500px;
}

.contact-wrapper h2 {
  margin-bottom: 1rem;
  color: var(--Secondary-text-color);
  margin: auto;
}

.contact-content p {
  line-height: 1.8;
  font-size: 1rem;
  color: var(--Secondary-text-color);
  margin: auto;
  width: 90%;
  text-align: justify;
}

/* Boxs (infos + formulaire) */
.contact-box {
  background-color: var(--Principal-bg-color-weak);
  padding: 30px;
  border-radius: 20px;
  flex: 1;
  min-width: 280px;
  max-width: 400px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
  max-width: 700px;
  margin: 0 auto;
  width: 90%;
  padding: 0 15px; 
}


/* Liste des infos */
.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--Secondary-text-color);
}

.contact-list a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.contact-list a:hover {
  text-decoration: underline;
}

.icon {
  width: 35px;
  height: auto;
}

/* Formulaire */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px; 
}


.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.full-width {
  grid-column: span 2;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--Secondary-text-color);
}

input,
textarea {
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 1rem;
  background: #fdf8f5;
  transition: border-color 0.2s ease;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent);
}

/* Bouton */
button[type="submit"] {
  margin-top: 10px;
  background-color: var(--Principal-color);
  color: var(--Secondary-text-color);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 15px;
}

button[type="submit"]:hover {
  background-color: var(--accent);
}

#form-message {
  color: var(--Secondary-text-color);
  margin: 5px 0;
}

/* Responsive */
@media (max-width: 860px) {
  .disposition {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-content {
    text-align: center;
    max-width: 90%;
  }
  .form-wrapper {
    padding: 0 20px;  
    width: 85%;
  }
}

@media (max-width: 768px) {
  .form-row {
    grid-template-columns: 1fr;
  }
}
