.footer {
  background: var(--Principal-bg-color); 
  color: var(--Secondary-text-color);
  padding: 3rem 2rem;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* Haut du footer */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer-top-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-logo img {
  width: 150px;
  max-width: 100%;
}

.footer-top-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;     



}

/* Menu */
.footer-nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: auto;
}

.footer-nav ul li {
  white-space: nowrap;
}

.footer-nav a {
  text-decoration: none;
  color: var(--Secondary-text-color);
  font-size: 1rem;
  transition: color 0.3s ease;
}

/* .footer-nav ul:hover .footer-nav ul a:not(:hover) {
  color: var(--sand-30);
} */

.footer-nav{
  margin: auto;
}
/* Ligne séparatrice */
.footer-separator {
  border: none;
  border-top: 1px solid var(--sand-30);
  margin: 1.5rem auto;
  width: 90%;
}

/* Slogan */
.footer-slogan p {
  display: inline-block;
  background-color: var(--Btn-color1);
  color: var(--Principal-color);
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius-s);
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem auto 0;
}

/* Réseaux sociaux */

.footer-socials .social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.footer-socials img {
  width: 40px;
  height: 40px;
  transition: transform 0.5s ease;
}

/* Span caché au départ */
.footer-socials span {
  color: var(--Secondary-text-color);
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 0.2s ease, width 0.2s ease;
}

/* Effet au hover du lien */
.footer-socials .social-link:hover span {
  opacity: 1;
  width: auto;
}



/* Bas du footer */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-links a {
  color: var(--Secondary-text-color);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy {
  margin: 0;
  font-size: small;
  color: var(--Secondary-text-color);
}

/* Responsive */

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 0.8rem;
  }
  .footer-top-left{
    width: 100%;
  }
  .footer-logo img {
    width: 300px; 
    max-width: 100%; 
  }
  .footer-nav ul:hover li a:not(:hover) {
    color: var(--Secondary-text-color);
  }
}
@media (max-width: 500px) {

  .footer-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    justify-items: center; 
    padding: 0;
  }

  .footer-nav ul li {
    margin: 0;
  }
  .footer-logo img {
  width: 120px;
  max-width: 100%;
}
}

