.projets-intro h1{
    text-align: center;
    margin: 60px auto 25px auto;
}
.projets-intro p{
    width: 85%;
    text-align: center;
    margin: auto auto 50px auto;
}
.projets-container{
    box-shadow: 
            inset 6px 6px 12px var(--dark-brown-31), 
            inset -6px -6px 12px rgba(255, 255, 255, 0.7);
    border-radius: 24px;
    padding: 2px ;
}