.reseaux {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  text-align: center;
  position: relative;
}

.reseaux h1 {
  font-size: clamp(28px, 5vw, 38px);
  margin-bottom: 1.5rem;
  width: 60%;
  color: var(--Principal-color);
  text-align: center;
}
.divh1{
    position: absolute;
    top: 5%;
    left: -25%;
    transform: rotate(-90deg);
    margin: 0 1rem;
}

.reseaux h3 {
  font-size: 1.6rem;
  margin: 3rem 0 1.5rem;
  color: var(--Principal-color);
}

.reseaux p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.reseaux ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 0.8rem 2rem;
  text-align: left;
}

.reseaux ul li {
  position: relative;
  padding-left: 1.8rem;
}

.reseaux ul li::before {
  content: "✴︎";
  position: absolute;
  left: 0;
  color: var(--accent);
  font-weight: bold;
}
.reseuax-text{
  margin-left: 15%;
  padding: 2rem 0 3rem 0;
}
.reseaux .offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  background: var(--Principal-color);
  padding: 20px;
  margin: 1rem -2rem 4rem -2rem;
}

.reseaux .offer {
  border-radius: var(--radius-m);
  padding: 1.5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: left;
  position: relative;
}
.reseaux .offer:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15%;
  right: -15px;
  width: 2px;
  height: 70%;
  background: var(--Page-color);
}

.reseaux .offer h3 {
  margin-bottom: 0.5rem;
  color: var(--Secondary-text-color);
}
.reseaux .offer p {
  color: var(--Secondary-text-color);
}

.reseaux .offer h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--accent);
}

.reseaux .cta {
  margin-top: 2rem;
}

.reseaux .cta a {
  display: inline-block;
  background: var(--Principal-color);
  color: var(--Secondary-text-color);
  padding: 1rem 2rem;
  border-radius: var(--radius-s);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}

.reseaux .cta a:hover {
  background: var(--accent);
  color: var(--Secondary-text-color);
}

@media (max-width: 700px){

  .reseaux ul {
      grid-template-columns: repeat(1, 1fr); 
  }
}