---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/Global.css';
import '../styles/PagesDetails.css';

export const prerender = true;

const title = "Pack Premium | Supports de communication | Minma Dev";
const description = "Pack Premium : création de documents visuels complexes et multi-pages tels que brochures, catalogues ou dossiers professionnels.";
---

<Layout {title} {description}>
    <Header />

        <section class="Details">
            <h2>Pack Premium</h2>
            <span>À partir de 500€</span>
    
            <h3>Description</h3>
            <p>
                Le Pack Premium est dédié aux projets d’envergure nécessitant une mise en page avancée, une structuration professionnelle et une esthétique hautement soignée. 
                Il est idéal pour sublimer des documents clés et offrir à votre public une expérience visuelle mémorable.
            </p>
    
            <h3>Ce qui est inclus</h3>
            <ul>
                <li>Création de supports complexes ou multi-pages : menus, catalogues, brochures, programmes, dossiers…</li>
                <li>Mise en page professionnelle et structurée</li>
                <li>Variations de formats sur demande</li>
                <li>Jusqu’à 3 séries de retouches</li>
                <li>Livraison de fichiers prêts à imprimer</li>
            </ul>
    
            <h3>Idéal pour</h3>
            <p>Les entreprises souhaitant se distinguer grâce à des documents structurés et parfaitement aboutis.</p>
        </section>

    <Footer />
</Layout>
