---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/Global.css';
// import '../styles/Prestations.css';

export const prerender = true;
const title = "Création de site vitrine | Développeuse web - Lumi Digital Studio";
const description = "Développeuse web basée en Seine-et-Marne, je conçois des sites vitrines modernes, rapides et optimisés SEO pour améliorer votre visibilité et renforcer votre image professionnelle.";


---

<Layout {title} {description}>
	<Header />
    <section class="section vitrine">
        <div class="section-inner">
            <div class="sv-h1-img h1-img">
                <h1>Création de site vitrine </h1>
            </div>

            <div class='divh2'>
                <h2>Création Site vitrine </h2>
            </div>
    
            <div class='section-text'>
                <p class="section-intro">
                    Vous êtes une entreprise, un commerçant, un artisan ou encore une association, 
                    et vous souhaitez gagner en visibilité sur Internet ? 
                    En tant que <span>développeuse web</span>, 
                    je vous accompagne dans la <span>création de votre site vitrine moderne, rapide et optimisé SEO</span>. 
                </p>
        
                <div class="deco">
                    <h2>Pourquoi créer un site vitrine ?</h2>
                    <p>
                        Un <span>site vitrine</span> est bien plus qu’une simple carte de visite en ligne. 
                        Il permet de présenter votre activité, vos services et vos valeurs à vos futurs clients, 24h/24 et 7j/7. 
                    </p>
                </div>
                <div class='avantages'>
                    <h3 class="hidden-right once">Les avantages d’un site vitrine</h3>
                    <ul>
                        <li>Améliorer votre <span>visibilité</span> grâce au référencement naturel (SEO)</li>
                        <li>Renforcer votre crédibilité et votre image professionnelle</li>
                        <li>Présenter clairement vos prestations, produits ou services</li>
                        <li>Être trouvé facilement par vos clients potentiels via Google</li>
                        <li>Disposer d’un site responsive, accessible et sécurisé</li>
                    </ul>
            
                    <p>
                        Mon objectif : vous proposer un <span>site vitrine adapté à vos besoins</span>, pensé pour vos clients, esthétique et performant. Chaque projet inclut une structure claire, un code optimisé et un design moderne.
                    </p>
                </div>
            </div>
            <div  class="container-bg">
            <div class="offers" >

                <a class="offer-link" href="/DetailPackEssentielSiteVitrine">
                    <div class="offer">
                        <h3>Pack Site Vitrine Essentiel</h3>
                        <p>Une solution moderne et parfaitement pensée pour offrir à votre entreprise une présence en ligne professionnelle.
                            Un site rapide, esthétique et conçu pour valoriser votre activité, même avec un budget maîtrisé.</p>
                        <h4>Dès 900€</h4>
                    </div>
                </a>
                <a class="offer-link" href="/DetailPackProfessionnelSiteVitrine">
                    <div class="offer">
                        <h3>Pack Site Vitrine Professionnel</h3>
                        <p>Une solution haut de gamme, performante et pensée pour durer.
                            Votre site est conçu sur mesure avec une technologie moderne offrant rapidité, stabilité et excellence visuelle — pour une image professionnelle irréprochable.</p>
                        <h4>Dès 1500€</h4> 
                    </div>
                </a>
                <a class="offer-link" href="/DetailPackWordpress">
                    <div class="offer">
                        <h3>Pack Site Vitrine Administrable (WordPress)</h3>
                        <p>Un site clé en main, esthétique et administrable, qui vous permet de modifier vos contenus en totale autonomie, sans compétences techniques.</p>
                        <h4>Dès 1200€</h4>
                    </div>
                </a>
            </div>
        </div>
            
            <div class="section-inner">
                <p class="conseil">
                    L'achat d'un hébergement et d'un nom de domaine est nécessaire et à prévoir avant la construction du site. Je vous donnerai un guide au format PDF pour vous accompagner dans ces étapes.
                </p>
                
                <p class="cta-text">
                    En tant que <span>développeuse web basée en Seine-et-Marne</span>, 
                        je travaille aussi bien avec des clients locaux qu’à distance. 
                </p>
                <div class="cta hidden-top">
                    <a href="/#contact" >
                        Contactez-moi pour discuter de votre projet et obtenir un devis personnalisé.
                    </a>
                </div>
            </div>
        
    </section>

    <Footer />
</Layout>
