---
import Image from 'astro/components/Image.astro';
import '../styles/Hero.css';
import Slider from './Slider.astro';
import ordi from '../assets/images/lumi-digital-studio-site-vitrine-ordi.webp';
---

<section class="hero">
  <div class="hero-bg"></div>

  <div class="hero-content">
    <!-- <h1>Développement web</h1> -->

    <div class="hero-row">
      <div class="hero-image">
        <Image src={ordi} alt="Ordinateur portable avec à ecran développement web" />
      </div>
      <div class="hero-layout">
        <h2>Création de solutions numériques et supports visuels</h2>
  
        <p>
          J’accompagne les indépendants et les marques à développer leur 
          <span class="hero-highlight">visibilité</span> grâce à des 
          <span class="hero-highlight">sites vitrines</span> et des 
          <span class="hero-highlight">supports visuels</span> percutants,
          pour une présence en ligne et hors ligne claire et mémorable.
        </p>
      </div>
    </div>

    <a href="#contact" class="cta-btn">Discutons de votre projet</a>
  </div>

  <div class="circular-text-container">
    <div class="circular-text" id="circularText"></div>
  </div>
</section>

<Slider />

<script is:inline lang="js">
  function createCircularText(element, text, radius = 75) {
    const letters = text.split("");
    const angleStep = 350 / letters.length;

    letters.forEach((letter, i) => {
      const span = document.createElement("span");
      const rotation = i * angleStep;
      span.style.transform = `
        rotate(${rotation}deg)
        translate(${radius}px)
        rotate(90deg)
      `;
      span.textContent = letter;
      element.appendChild(span);
    });
  }

  document.addEventListener('DOMContentLoaded', () => {
    const circularText = document.getElementById("circularText");
    if (circularText) {
      createCircularText(
        circularText,
        "✦ LUMI ✦ DIGITAL ✦ STUDIO ✦ DÉVELOPPEMENT WEB"
      );

    }

    const bg = document.querySelector('.hero-bg');
    if (bg && bg instanceof HTMLElement) {
      let latestScroll = 0;
      let ticking = false;

      window.addEventListener('scroll', () => {
        latestScroll = window.scrollY;
        if (!ticking) {
          window.requestAnimationFrame(() => {
            const scale = Math.min(1 + latestScroll / 1000, 1.1);
            bg.style.transform = `scale(${scale})`;
            ticking = false;
          });
          ticking = true;
        }
      }, { passive: true });
    }
  });
</script>
