---
import '../styles/MentionsPolitique.css';
---

<section id="mentions-legales">
    <h1>Mentions légales</h1>
    <p><span>Nom de l'entreprise :</span> Lumi Digital Studio</p>
    <p><span>Statut :</span> Micro-entreprise</p>
    <p><span>Numéro SIRET :</span> [Mon numéro SIRET]</p>
    <p><span>Responsable de la publication :</span> Casabianca Marie</p>
    <p><span>Email :</span> contact.lumids@gmail.com</p>
    <p><span>Hébergement :</span> GitHub Pages </p>
        <p>Fournisseur : GitHub, Inc.</p>
        <p>Adresse : 88 Colin P. Kelly Jr Street, San Francisco, CA 94107, États-Unis. </p>
        <a href="https://pages.github.com/" target="_blank">Site GitHub pages : https://pages.github.com  </a>
    <p class="space-up"><span>Propriété intellectuelle :</span> 
    Ce site ainsi que l’ensemble de ses contenus (textes, images, logos, etc.) sont protégés par le droit d’auteur. Toute reproduction, totale ou partielle, est interdite sans autorisation préalable.</p>
    <p><span>Responsabilité :</span>
    Le propriétaire du site décline toute responsabilité quant à l’utilisation faite des informations présentées.</p>
    </section>