---
import '../styles/MentionsPolitique.css';
---

<section id="mentions-legales">
    <h1>Mentions légales</h1>
    <p><span>Nom de l'entreprise :</span> Minma Dev</p>
    <p><span>Statut :</span> Micro-entreprise</p>
    <p><span>Numéro SIRET :</span> [Mon numéro SIRET]</p>
    <p><span>Responsable de la publication :</span> Casabianca Marie</p>
    <p><span>Email :</span> contact@minma_dev.com</p>
    <p><span>Hébergement :</span>
    OVH <br>
    Adresse : 2 rue Kellermann, 59100 Roubaix, France </p>
    <p><span>Propriété intellectuelle :</span><br>
    Ce site ainsi que l’ensemble de ses contenus (textes, images, logos, etc.) sont protégés par le droit d’auteur. Toute reproduction, totale ou partielle, est interdite sans autorisation préalable.</p>
    <p><span>Responsabilité :</span><br>
    Le propriétaire du site décline toute responsabilité quant à l’utilisation faite des informations présentées.</p>
    </section>