---
import '../styles/Slider.css';
import html from '../assets/icons/logo-html.png';
import css from '../assets/icons/logo-css.png';
import javascript from '../assets/icons/logo-javascript.png';
import figma from '../assets/icons/logo-figma.png';
import astro from '../assets/icons/logo-astro.png';
import wordpress from '../assets/icons/logo-wordpress.png';
import react from '../assets/icons/logo-react.png';
import canva from '../assets/icons/logo-canva.png';
import { Image } from 'astro:assets';

---




<div class="slider-container">
    <section class="slider" style="--width: 230px; --height:60px; --quantity: 14;">
        <div class="list">
            <div class="item" style="--position: 1">✦</div>
            <div class="item" style="--position: 2">Sites vitrines</div>
            <div class="item" style="--position: 3">✦</div>
            <div class="item" style="--position: 4">Portfolios</div>
            <div class="item" style="--position: 5">✦</div>
            <div class="item" style="--position: 6">Identités visuelles</div>
            <div class="item" style="--position: 7">✦</div>
            <div class="item" style="--position: 8">Cartes de visite</div>
            <div class="item" style="--position: 9">✦</div>
            <div class="item" style="--position:10">Affiches & Flyers</div>
            <div class="item" style="--position: 11">✦</div>
            <div class="item" style="--position: 12">Réseaux sociaux</div>
            <div class="item" style="--position: 13">✦</div>
            <div class="item" style="--position: 14">Menus restaurants</div>
        </div>
    </section>
</div>